* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

body,
html {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    max-width: 80rch;
}

/*readability based on WCAG*/
/*https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html*/
p, li, figcaption {
    max-width: 80rch;
}


img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}