
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Relief:wght@400;700&display=swap');

/*Where we store the custom variables*/
:root {
    --color01:white;
    --color02:black;
    --color03:lightgrey;
    --color04:darkgrey;
    --border:  0.25rem double var(--color03);
}



@media(prefers-color-scheme: dark) {
    :root {
        --color01:black;
        --color02:white;
        --color03:darkgrey;
        --color04:lightgrey;
    }
}

body{
    font-family: "Comic Relief", system-ui;
    background-color: var(--color01);
    color: var(--color02);

}

dialog[open] {
    background-color: var(--color01);
    color: var(--color02);
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--border);


}
